#results.navbar.navbar-light.bg-light(class="hidden")
  #resultsCollapsed.collapse.navbar-collapse
    div
      ul#actualResults
  button.input-group-append.navbar-toggler(style='margin-left: auto;', type='button', data-toggle='collapse', data-target='#resultsCollapsed', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    img(src='./assets/icons/chevron-top.svg', style='height: 18px;')

