/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

body { margin:0; padding:0; }
#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
  z-index: -1000;
}

#actualResults{
  overflow: auto;
}

/* navbar */
#bottomNav{
  position: absolute;
  bottom: 5%;
  right: 2%;
  width: 40%;
}

#results{
  position: absolute;
  bottom: 12%;
  right: 2%;
  overflow: scroll;
  max-height: 75%;
} 

@media only screen and (max-width: 600px) {
  #bottomNav {
    width: 60%;
  }
}